.character-item {
  /* border: 1px solid darkgray; */
  width: 30%;
  background: rgba(35, 35, 35, 0.42);
  margin: 2% 2%;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.73);
  box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.73);
}

.character-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
